@tailwind base;
@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/static/Nunito-Medium.ttf') format('woff2'),
        url('./fonts/Nunito/Nunito-VariableFont_wght.ttf') format('woff');
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-variant-alternates: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-variant-position: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 100%;
    line-height: 150%;
}

body {
    font-family: 'Nunito';
}

header>main {
    margin: 1.4rem 0.3rem 1.4rem 0;
    scrollbar-color: #e68a5d rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}



.dark {
    background-image: linear-gradient(225deg, rgba(29, 29, 29, 0.851)0%, #171513 100%);
    color: #fefefe;
}

.light {
    background-image: linear-gradient(225deg, #fff9f5ec 20%, #fffffff2 100%);
    color: #322C2B;
}

/* .imgdark {
    backdrop-filter: blur(13px);
    border-radius: 0;
    background-image: url(./img/bg2.jpg);
    background-size: cover
}

.imglight {
    backdrop-filter: blur(13px);
    border-radius: 0;
    background-image: url(./img/bg1.jpg);
    background-size: cover
} */
header {
    height: 80vh;
    width: 90%;
    z-index: 12;
    border-radius: 25px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .navbar {
    width: 22%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    position: relative;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/*Start Animations*/
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

/*End Animations*/

/*-- Start BackGround Animation */
.circles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(225deg, #f6944ea3 20%, #f6944eb1 100%);
    ;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {

    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;

}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 40%;
    }
}

/*-- End BackGround Animation */